* {
    padding: 0;
	margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #000, #fff);
    background-repeat: no-repeat;
}

#wrapper {
    width: 1180px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 5px 5px 5px #888;
    margin-top: 5px;
}

/*--HEADER--*/
h1{
    color: #139c19;
    text-shadow: -2px 2px 0 #000;
    text-align: center;
    font-size: 50px;
    padding: 20px 0;
}

/*--NAV--*/
#mainNav {
    border-radius: 50px;
    background-image: linear-gradient(to bottom, #444, #111);
    box-shadow: 5px 5px 5px #9c9c9c;
    padding : 10px 0 10px 0;
    margin: 0 auto;
    width: 95%;
}

.item {
    display: table-cell;
}

.item > a {
    color: #f2f2f2;
    text-decoration: none;
    display: block;
    padding-left: 35px;
}

.item a:hover {
    color: #fafafa;
    text-shadow: 1px 1px 1px #000;
}

.panneau {
    background-image: linear-gradient(to bottom, #19b123, #139c19);
    display: none;
    width: 550px;
    position: absolute;
    border: 10px solid black;
    border-top: none;
}

.item:hover .panneau {
    display: block;
}

.panneau h3 {
    color: #000;
}

.containerPanneau {
    background: linear-gradient(to bottom, #19b123, #139c19);
    display: table;
    width: 100%;
    table-layout: fixed;
}

.clearfix-overflow {
	overflow: hidden;
}

.sousMenu {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    padding-top: 20px;
    line-height: 1.5em;
}

.itemPanneau > a {
    color: #f2f2f2;
    text-decoration: none;
    display: block;
}

.figure {
    float: right;
}

/*--MAIN--*/

#container {
    margin: 50px 40px 0 40px;
    display: table;
	table-layout: fixed;
    color: black;
}

#columnLeft {
    width: 70%;
	display: table-cell;
	vertical-align: top;
    padding-right: 40px;
}

article {
    text-align: justify;
}

#first {
    color: #777;
}

.sectionTitle {
    margin-bottom: 20px;
}

.sectionTitle h2 {
    display: table-cell;
	vertical-align: middle;
	color: #139c19;
    padding-left: 10px;
}

.form {
    width: 25px;
    height: 20px;
    background-color: #139c19;
    display: table-cell;
    border-radius: 50% 0 0 50%;
}

p {
    padding-bottom: 20px;
}

#gluon figcaption {
    text-align: right;
    color: #777;
}

#blueGlobule {
    float: left;
	margin: 0 25px 20px -40px;
}

#columnRight {
    width: 30%;
	display: table-cell;
    vertical-align: bottom;
    padding-bottom: 20px;
}

h4 {
    color: #139c19;
    padding: 5px 0;
}

#columns {
    column-count: 2;
    column-rule: 1px solid grey;
}

/*--FOOTER--*/
hr {
    border: 1px solid #139c19;
}

footer {
    margin: 20px 0;
    height: 60px;
}

#footerNav ul {
    text-align: center;
}

#footerNav li {
    display: inline;
    list-style: none;
    margin: 5px;
}

#footerNav a {
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(to bottom, #19b123, #139c19);
    color: #e9f6e9;
    padding: 10px 30px;
    border-radius: 50px;
}

#footerNav a:hover {
    background-color: rgba(21, 165, 29, 0.5);
    color:#000;
}